### Application ###
access-config.yml
twitter4j.properties
*.log

### IntelliJ ###
.idea/*
.classpath
.project
.settings
*.iml

### Eclipse ###

.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

